*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#insta-card{
    margin:10px 10px;
    width: 600px;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
}
#insta-card #profile{
    display: flex;
    gap: 10px;
    align-items: center;

}
#insta-card #profile h3,p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#insta-card #profile h3{
    text-transform: capitalize;
}
#insta-card #profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#insta-card #post-image img{
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
}
#post-image p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:10px 10px 0px 10px;
}
#insta-card #icons{
    display: flex;
    justify-content: space-between;
    margin:15px 10px 0px 10px;
}
#insta-card #icons i{
    font-size: 25px;
}