*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}
nav img{
    width: 150px;
}
nav button{
    padding: 10px 20px;
    border: solid lightgray 1px;
    background-color: transparent;
    color: black;
    border-radius: 9px;
    cursor: pointer;
    font-size: 19px;
    font-weight: 500;

}