*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#swiggy-nav{
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff5200;
    padding: 55px 140px;
}
#swiggy-nav img{
    width: 160px;
}
#swiggy-nav .nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
#swiggy-nav .nav-links .nav-items a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#swiggy-nav .nav-links .get-app-button button{
    padding: 15px 20px;
    border: solid white 1px;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}
#swiggy-nav .nav-links .sign-in button{
    padding: 15px 40px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}