*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.st-nav{
    background-color: #fff5d8;
    color: #886701;
    height: 65px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.st-nav .warn{
    font-size: 24px;
}
.st-nav .nav-info{
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.st-nav .nav-info .lrn{
    text-decoration: underline;
    color: #886701;
}
.st-nav .cls{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
.nav-main{
    background-color: #ffffff;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid lightgray;
}
.spc-bt-nav{
    height: 10px;
    background-image: linear-gradient(to right, #ffb600, #ffa500, #ff9300, #ff8000, #ff6c00, #ff5421, #ff3734, #ff0045, #ff006b, #ff0096, #ff00c7, #e317f9);
}
.nav-main .nav-ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-main .nav-ul .nav-li .nav-text{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition-property: color;
    transition-duration: 0.5s;
}
.nav-main .nav-ul .nav-li .nav-text:hover{
    text-decoration: underline;
    color: gray;
}
.search-nav{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px 20px;
    border: 1px solid lightgray;
}
.search-nav .npm{
    height: 25px;
}
.search-nav .search-box{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(237, 237, 237);
    height: 100%;
    width: 100%;
}
.bi-search{
    margin-left: 20px;
}
.inp-srch{
    border: none;
    background-color: transparent;
    font-size: 15px;
    width: 100%;
    height: 100%;
}
.search-box-inr{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-box-inr .srch{
    height: 100%;
    border: 1px solid black;
    padding: 10px 30px;
    color: white;
    border: none;
    font-size: 15px;
    background-color: #231f20;
    cursor: pointer;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sign{
    padding: 10px 20px;
    font-size: 15px;
    height: 100%;
    width: 150px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sign-up{
    border: 1px solid lightgray;
}
.body-div{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(140, 0, 0, 0.284), rgba(140, 0, 0, 0.284), rgba(140, 0, 0, 0.284), rgba(0, 0, 0, 0)), url("https://static-production.npmjs.com/abf53a31b2da4657a1a004ee9358551c.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.body-div .body-elements{
    text-align: center;
    /* height: 100%; */
    color: white;
}
.body-div .body-elements h1{
    font-size: 5rem;
    margin-top: 70px;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body-div .body-elements p{
    /* font-size: 1.5rem; */
    margin-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body-div .body-elements h3{
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btns{

    display: flex;
    gap: 30px;
    justify-content: center;
}
.btn-1 , .btn-2{
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
}
.btn-2{
    border: 2px solid white;
    background-color:#cb3837;
    color: white;
}
.btn-1{
    border: none;
    background-color:#ffc329;
}
.und-body{
    height: 70vh;
}
.und-body h2{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-size: 2.3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.und-body .img-cnt {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.und-body .img-cnt img{
    height: 100px;
    width: 100px;
}
.und-body p{
    width: 40%;
    margin: 30px auto;
    text-align: center;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      padding: 60px 60px;
      border-top: 1px solid #eee;
    }
    
    .footer-title {
      font-size: 18px;
      font-weight: bold;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin-bottom: 20px;
      color: black;
    }

    
    .footer-list {
      list-style: none;
    }

    .footer-list-item {
      margin-bottom: 12px;
    }

    
    .footer-link {
      text-decoration: none;
      color: #444;
      font-size: 16px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    }
    .footer-link:hover {
      text-decoration: underline;
      color: red;
    }

    
    .footer-icons  svg{
      margin-bottom: 20px;
    }
