*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: facebook;
    src: url("/FONTS/SFPRODISPLAYREGULAR.OTF");
}
#facebook-container{
    height: 100vh;
    background-color: #f2f4f7;
    display: flex;
    align-items: center;
}
#flex-container{
    display: flex;
    padding: 0px 200px;
}
#flex-item-1 .img-1{
    height: 106px;
}
#flex-item-1 h2{
    font-weight: 450;
    font-family: facebook;
}
#flex-item-2 form{
    background-color: white;
    width: 400px;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #0000001a;
}
#flex-item-2 form input, .btn-login{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 9px;
    padding: 15px 20px;
}
#flex-item-2 form input{
    border: 1px solid lightgrey;
    color: gray;
}
#flex-item-2 form input:focus{
    border: 1px solid #0866ff;
    outline: 1px solid #0867ff53;
    caret-color: #0866ff;
}
#flex-item-2 form input:focus::placeholder{
    color: lightgrey;
}

    
