*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
/* p{
    width: 100px;
    height: 100px;
    background-color: coral;
    /* transition-property: width;
    transition-duration: 2s;
    transition-delay: 3s; 
    transition: width 2s 3s, background-color 2s, border-radius 2s, transform 4s;
    /* Start with no rotation 
    transform: rotateZ(0deg);

} */
/* p:hover{
    width: 240px;
    background-color: lightcoral;
    border-radius: 40px;
    transform: rotateZ(180deg);
} */

 /* .water{
    width: 300px;
    height: 300px;
    background-color: lightblue;
    border-radius: 50%;
    transform: rotateZ(135deg);
    transition-property: border-radius, margin-top;
    transition-duration: 400ms;
} */

.water:hover{
    border-radius:  50% 50% 50% 0px;
    margin-top: 400px;
} 

.flower .p1, .p2, .p3, .p4{

    width: 100px;
    height: 100px;
    background-color: coral;
}
.flower .p1{
    border-radius: 50% 0% 50% 0px;
}
.flower .p2{
    border-radius: 0% 50% 0px 50%;
}
.flower .p4{
    border-radius: 50% 0px 50% 0%;
}
.flower .p3{
    border-radius: 0px 50% 0% 50%;
}

.rotate{
    transition-property: transform;
    transition-duration: 3s;
}

.rotate:hover{
    transform: rotateZ(360deg);
}



