/* .demo{
    color: red;
}
#col-1{
    background-color: orange;
}
#col-2{
    background-color: black;
} */
body {
    margin: 0;
}
#col-1 {
    background-color: orange;
}
.flag {
    height: 33.33vh;
}
#col-2 {
    background-color: green;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#stand{
    background-color: black;
    width: 100px;
}
