body{
    margin: 0;
}
div{
    height: 100vh;
    /* background-image: url(/MEDIA/one-piece-monkey-d-luffy-neon-5k-km.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; */
    /* color: white;
    font-size: 100px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.493), black), url(https://assets.nflxext.com/ffe/siteui/vlv3/bebd95d0-65f9-41a9-9d12-4794db63653e/web/IN-en-20250922-TRIFECTA-perspective_5e75cfb4-3797-4f17-866b-181ff91a51dd_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
h1{
    margin: 0;
    text-align: center ;
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    padding-top: 30vh;  
}

