body{
    margin: 0;
}
div{
    height: 100vh;
    background-color: #bdbc8a;
    background-image: url(https://cdn.pixabay.com/photo/2025/08/26/20/39/halloween-9798744_1280.jpg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    
}
