*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#flex-container1{
    height: 90vh;
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
}

#flex-container1 #flex-item1 .images{
    height: 450px;
    width: auto;
}

#flex-container1 #flex-item2 .insta{
    height: 100px;
    width: 180px;
    display: block;
    margin: auto;

}
#flex-item2{
    width: 280px;
}
#flex-inner2, #flex-inner2 .input-fields, #login-form{
    width: 100%;  
}

#login-form .input-fields{
    display: block;
    margin-top: 10px;
}
#login-form .input-text{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px lightgray;
    border-style:groove;
    color: gray;
}

#login-form .input-button{
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(48, 123, 252);
    cursor: pointer;
}

#flex-inner3{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
#flex-inner3 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 14px;
}
#flex-inner4 .new1{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(48, 123, 252);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
#flex-inner4 .new1:hover{
    text-decoration: underline;
}

#flex-inner4 #login{
    color: rgb(48, 123, 252);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
}
#flex-inner4 #acc{
    text-align: center;
    margin-top: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#flex-inner4 #acc #sign-up{
    text-decoration: none;
    color: #4150f7;
    font-weight: 600;
    margin-left: 5px;
}
#a-forgot{
    margin-top: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
#a-forgot:hover{
    text-decoration: underline;
}
#flex-inner4 #login img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 8px;
}
#flex-inner3>.or-line{
    width: 125px;
}

#flex-inner3>.or-line>hr{
    border: none;
    height: 1px;
    background-color: lightgrey;
}

/* #flex-inner3>.or-line{
    height: 10px;
    width: 125px;
    border-top: 1px solid lightgrey;
} */

#footer #footer-cont{
    display: flex;
    justify-content:center;
    gap: 20px;
    margin: 0px 90px 0px 90px;
    list-style: none;
}
#footer #footer-cont .footer-items .footer-links{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gray;
    font-size: 12px;
}
#footer #footer-cont .footer-items .footer-links:hover{
    text-decoration: underline;
}
#footer #footer-inner select{
    margin-top: 20px;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: gray;
}
#footer #footer-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#footer #footer-inner p{
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: gray;
}