*{
    box-sizing: border-box;
}
form{
    width: 420px;
    padding: 20px;
    border: 4px solid bisque;
    border-radius: 10px 10px 0px 0px;
    background-color:rgb(244, 197, 139);
}
form:hover{
    background-color:   rgb(251, 180, 95);
}
form input,.but{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
form input{
    border: none;
}
form h1{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}
form .but{
    border: none;
    color: white;
    background-color: chocolate;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}
nav{
    width: 420px;
    background-color: blueviolet;
    height:50px;
}
nav .butt{
    color: yellow;
    padding: 10px 15px;
    border:solid yellow;
    background-color: transparent;
    border-radius: 6px; 
    margin: 5px;
}
nav .butt:hover{
    color: black;
    background-color: yellow;
}

.rapido{
    background-color: black;
    color: greenyellow;
    border: none;
    border-radius: 100px;
    padding: 10px   ;
    font-weight: bold;
}
.read{
    background-color: #6e2bf3;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
}
.read i{
    margin-right: 8px;
}