/* h1{
    color: red;
}
p{
    color: springgreen;
}
span{
    color: orange;
}
body{
    background-color: black;
} */
/* *{
    color: orange;
    background-color: black;
} */
h1,p,span{
    color: orange;
}
div{
    height: 100px;
    width: 100px;
    background-color: #008dce;
}