*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .zee5-nav{
            background-color: #0f0617;
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: space-between;
            height: 10vh;
            padding: 0px 40px 0px 40px;
        }
        .zee5-nav img{
            height: 50px;
            width: 50px;
        }
        .zee5-nav .opt1{
            display: flex;
            align-items: center;
            gap: 30px;
        }
        .zee5-nav .opt1 .opt .opt-ul{
            display: flex;
            gap: 30px;
            list-style: none;
            color: white;
        }
        .opt1 .opt .opt-ul li a{
            text-transform: capitalize;
            text-decoration: none;
            color: rgb(216, 213, 213);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .opt1 .opt .opt-ul li .items{
            position: relative;
            transition: color 0.3s ease;
        }
        .opt1 .opt .opt-ul li .items::after{
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            background: white;
            left: 50%;   
            bottom: -10px;
            transition: width 0.3s ease;
            transform: translateX(-50%);
        }
        .opt1 .opt .opt-ul li .items:hover{
            color: white;
        }
        .opt1 .opt .opt-ul li .items:hover::after{
            width: 100%;
        }
        .opt .opt-ul li .grid{
            color: white;
            font-size: 16px;
        }
        .zee5-nav .right{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .zee5-nav .right .srch{
            display: flex;
            align-items: center;
            padding: 0px 10px 0px 10px;
            width: 50%;
            height: 40px;
            border: 1px solid #545057;
            border-radius: 5px;
        }
        .zee5-nav .right .srch .srch-field{
            border: none;
            background-color: transparent;
            color: #545057;
            width: 100%;
        }
        .zee5-nav .right .srch .bi-search{
            color: white;
            margin-right: 10px;
        }
        .zee5-nav .right .lang, .list{
            border-radius: 50%;
            width: 40px;
            height: 40px;
            border: none;
            background-color: #1b1323;
        }
        .right .list .bi-list{
            font-size: 20px;
            color: white;
            font-weight: 900;
        }
        .right .lang{
            color: white;
            font-size: 18px;
        }
        .right .login{
            padding: 10px 15px;
            background-color: transparent;
            color: white;
            border: 1px solid white;
            border-radius: 5px;
            font-weight: bold;
            text-transform:uppercase;
        }
        .right .buy{
            border: none;
            padding: 7px 9px;
            display: flex;
            gap: 5px;
            align-items: center;
            background-color: #8230c6;
            color: white;
            font-weight: bold;
            border-radius: 5px;
        }

.starbucks{
    height: 10vh;
    /* border: #0f0617 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
}
.starbucks .star-nav .logo-st{
    height: 50px;
    width: 50px;
}
.star-nav{
    display: flex;
    gap: 30px;
}
.ul-star, .star-ul{
    display: flex;
    align-items: center;
}
.star-nav .ul-star .star-ul{
    /* display: flex; */
    list-style: none;
    gap: 20px;
}
.star-ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.star-ul a:hover{
    color: #00754a;
}

.st-right{
    display: flex;
    align-items: center;
    gap: 50px;
}
.btn1{
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: transparent;
    font-weight: bold;
}
.btn2{
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
}
.fnd{
    color: black;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.fnd:hover{
    color: #00754a;
}
.bking{
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 0px 100px;
    background-color: #f8f1e7;
}
.bksvg{  
    height: 30px;
    margin: auto;
    /* width: 60px; */
}
.opt-bking{
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: #502314;
}
.bk-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.prof{
    text-decoration: none;
    color:#502314;
}
.cart{
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #afaaa3;
    color: #afaaa3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: bold;
    border-radius: 50px;
}
#swiggy-nav{
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff5200;
    padding: 55px 140px;
}
#swiggy-nav img{
    width: 160px;
}
#swiggy-nav .nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
#swiggy-nav .nav-links .nav-items a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#swiggy-nav .nav-links .get-app-button button{
    padding: 15px 20px;
    border: solid white 1px;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}
#swiggy-nav .nav-links .sign-in button{
    padding: 15px 40px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}
.bms{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 80px 0px 80px;
    /* border-bottom: 1px solid gray; */
}
.bms-logo{
    height: 120px;
    margin-right: 15px;
}
.bms-left{
    display: flex;
    align-items: center;
}
.bms .bms-left .bms-srch{
    width: 500px;
    display: flex;
    gap: 10px;
    height: 100%;
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 4px;
}
.bms-field{
    border: none;
    width: 100%;
}
.bms-right{
    display: flex;
    gap: 15px;
}
.bms-opt{
    border: none;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bms-sign{
    padding: 7px 15px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #eb4e62;
    border-radius: 6px;
}
.bms-opt2{
    border: none;
    background-color: transparent;
    font-size:x-large;
}
.body-div{
    height: 51vh;
    background-color: lightgray;
}