
.table1, .table2, .table3, .table4, .table5 {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


.table1 thead tr {
    background-image: linear-gradient(to right top, #ff6a00, #ff9500, #ffb700, #ffd000, #ffe600);
    color: white;
}
.table1 tbody tr:nth-child(even):hover {
    background-image: linear-gradient(to left top, #ff512f, #dd2476, #6a11cb, #2575fc, #00c6ff);
    color: #fff;
}
.table1 tbody tr:nth-child(odd):hover {
    background-image: linear-gradient(to left top, #ff0844, #ff3c7a, #ff6ba3, #ff9fc6, #ffcad4);
    color: #000;
}


.table2 thead tr {
    background-image: linear-gradient(to right bottom, #00c9ff, #92fe9d, #38ef7d, #11998e, #0f2027);
    color: white;
}
.table2 tbody td {
    background-image: linear-gradient(to top, #f7971e, #ffd200, #ffde59, #ffefba, #ffffff);
    color: #000;
}
.table3 thead tr {
    background-image: linear-gradient(to left, #ff9a9e, #fad0c4, #fad0c4, #fbc2eb, #a6c1ee);
    color: #333;
}
.table3 tbody tr td:nth-child(even) {
    background-image: linear-gradient(to right bottom, #43cea2, #185a9d, #4776e6, #8e54e9, #a4508b);
    color: #fff;
}
.table3 tbody tr td:nth-child(odd):hover {
    background-image: linear-gradient(to bottom, #ff4e50, #f9d423, #24fe41, #00c9ff, #a044ff);
    color: #fff;
}
.table4 thead tr {
    background-image: linear-gradient(to right bottom, #ff6fd8, #3813c2, #4e54c8, #8f94fb, #a9c9ff);
    color: white;
}
.table4 tbody td {
    background-image: linear-gradient(to left bottom, #fddb92, #d1fdff, #a1c4fd, #c2e9fb, #fbc2eb);
    color: #000;
}


.table5 thead tr {
    background-image: linear-gradient(to right, #00b09b, #96c93d, #56ab2f, #a8e063, #56ab2f);
    color: white;
}
.table5 tbody tr:nth-child(even) {
    background-image: linear-gradient(to right, #f8ffae, #43c6ac);
    color: #000;
}
.table5 tbody tr:nth-child(odd) {
    background-image: linear-gradient(to right, #cfd9df, #e2ebf0);
    color: #000;
}
.table5 tbody tr:hover {
    background-image: linear-gradient(to right, #ff512f, #f09819);
    color: #fff;
}
